<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createuser</title>
    <link rel="stylesheet" href="../public/css/style.css" th:href="@{css/style.css}"/>
    <div class="container">
    <button class="webform" type="submit" style="background: #327db2; max-height: 45px;">Tilbage</button>
    <div class="flex-container">
        <div><a href="loginpage.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="100%"/>
        </a>
        </div>
    </div>
    </div>
</head>
<body>




<br><br>
<form method="post" >


<div class="center">
    <div class="webform">
        <h2>Opret din bruger her</h2>


    <label for="email">Indtast din email:</label><br>
    <input type="text" id="email" name="email" placeholder="Indtast email"><br><br>
    <label for="password1"> Indtast dit password:</label><br>
    <input type="password" id="password1" name="password1" placeholder="Indtast password"><br><br>
    <label for="password2"> Indtast dit password igen:</label><br>
    <input type="password" id="password2" name="password2" placeholder="Indtast password igen"><br><br>

    <button type="submit" formaction="/createuser">Opret bruger</button>
    <div><p th:text="${message}"></p></div>

    </div>
</div>

</form>








</body>
</html>