<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createuser</title>
    <link rel="stylesheet" href="../public/css/style.css" th:href="@{css/style.css}"/>

    <div class="flex-container">
        <div><a href="loginpage.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="100%"/>
        </a>
        </div>
    </div>
</head>
<body>

<input type="submitleft" value="Tilbage">



<div class="center">
    <div class="webform-createuser center minheight">
        <h2>Opret din bruger her</h2>

<form action="/loginpage.html">
    <label for="fname">Indtast din email:</label><br>
    <input type="text" id="fname" name="fname" placeholder="Ny email"><br><br>
    <label for="lname"> Indtast dit password:</label><br>
    <input type="password" id="lname" name="lname" placeholder="Nyt password"><br><br>
    <label for="lname"> Indtast dit password igen:</label><br>
    <input type="password" id="lname" name="lname" placeholder="Nyt password"><br><br>

    <input type="submit" value="Opret bruger">

    </div>
</div>

</form>








</body>
</html>