<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adminoverview</title>
    <link rel="stylesheet" href="../public/css/style.css" th:href="@{css/style.css}"/>
    <div class="container">
        <a href="homepage.html" th:href="@{homepage}">
        <button class="webform" type="submit" style="background: #327db2; max-height: 45px;">Tilbage</button>
        </a>
        <div class="flex-container">
            <div><a href="loginpage.html" th:href="@{/}">
                <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="100%"/>
            </a>
            </div>
        </div>
    </div>
</head>
<body>

<br><br>

<div class="webform center-two">

    <div class="usermail">
        Logget ind som: <span class="text-margin" th:text="${session.userEmail}"></span>
    </div>
    <div class="center-text">
        <h1>Ordre bestilt af kunder</h1>
    </div>

    <form method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Topping Type</th>
                <th>Bottom Type</th>
                <th>Quantity</th>
                <th>Topping price</th>
                <th>Bottom price</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${custommerorders}">
                <td th:text="${order.toppingType}"></td>
                <td th:text="${order.bottomType}"></td>
                <td th:text="${order.quantity}"></td>
                <td th:text="${order.toppingPrice}"></td>
                <td th:text="${order.bottomPrice}"></td>
                <td th:text="${order.totalPrice}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>