<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link rel="stylesheet" href="../public/css/style.css" th:href="@{css/style.css}"/>

    <form th:action="@{/logout}" method="get">
        <button class="webform" type="submit">Log af</button>
    </form>

    <div class="flex-container image-hover">
        <div><a href="loginpage.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="100%"/>
        </a>
        </div>
    </div>
</head>
<body>

<div>
    <div class="webform center-text center-two">
        <div class="usermail">
            Logget ind som: <span th:text="${session.userEmail}"></span>
        </div>

        <form th:action="@{/orderoverview}" method="get">
            <button class="text-margin" type="submit">Admin overblik</button>
        </form>

        <form th:action="@{/orderoverviewcustommer}" method="get">
            <button class="text-margin" type="submit">Kunde overblik</button>
        </form>

        <a href="shoppingcart.html" th:href="@{shoppingcart}">
            <img class="shoppingcart-logo-hover" src="../public/images/shoppingcartlogo.png"
                 th:src="@{/images/shoppingcartlogo.png}" width="15%"/>
        </a>
    </div>
</div>
<br>
<div class="webform center-two">
    <div class="center">
        <h2 style="font-family: Brush Script Std; font-weight: lighter; font-size: 40px;">Velkommen ombord</h2>
        <h3>Du har virkelig god smag! Vælg og bestil din cupcake her</h3>

        <br><br>
        <form method="get">
            <div class="custom-select">
                <select name="Vælg bund">
                    <option value="" disabled selected>Vælg en bund</option>
                    <th:block th:each="bottom : ${bottoms}">
                        <option th:value="${bottom.bottomId}" th:text="${bottom.type}"></option>
                    </th:block>
                </select>

                <select name="Vælg topping">
                    <option value="" disabled selected>Vælg en topping</option>
                    <th:block th:each="topping : ${toppings}">
                        <option th:value="${topping.toppingId}" th:text="${topping.type}"></option>
                    </th:block>
                </select>

                <select name="Vælg antal">
                    <option value="" disabled selected>Vælg antal</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <br><br>
            </div>
        </form>
        <form>
            <button type="submit" value="kurv">Læg i kurv</button>
        </form>
    </div>
</div>

</body>
</html>