<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginpage</title>
    <link rel="stylesheet" href="../public/css/style.css" th:href="@{css/style.css}"/>

    <a href="loginpage.html" th:href="@{/}">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="35%"/>
    </a>
</head>
<body>


<h1>Velkommen</h1>
<h3>Vær venling at logge ind</h3>

<form action="/homepage.html" method="post">
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" placeholder="email"><br>
    <label for="email">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="password"><br><br>
    <button class="loginbottom" type="submit" formaction="/login">Login</button>
    <br><br>
    <h3>Eller opret en bruger her</h3>

    <button class="createuserbottom" type="submit" formaction="/createuser">Create user</button>
</form>








</body>
</html>