    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shoppingcart</title>
    <link rel="stylesheet" href="../public/css/style.css" th:href="@{css/style.css}"/>

    <a href="homepage.html" th:href="@{homepage}">
        <button class="webform" type="submit" style="background: #327db2; max-height: 45px;">Tilbage</button>
    </a>

    <div class="flex-container image-hover">
        <div><a href="loginpage.html" th:href="@{/}">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="100%"/>
        </a>
        </div>
    </div>
    </div>

</head>
<body>



<div class="webform center-two ">
    <div class="center">
        <h1>Din indkøbskurv</h1>
    </div>

    <table class="table">
        <tr>
            <th>Nummer</th>
            <th>Cupcake</th>
            <th>Antal</th>
            <th>Pris</th>
        </tr>
        <tr>

        <tr>
            <td>1</td>
            <td>Bund: Vanilje, Topping: Chokolade</td>
            <td>2</td>
            <td>40kr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Bund: Vanilje, Topping: Chokolade</td>
            <td>2</td>
            <td>40kr</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Bund: Vanilje, Topping: Chokolade</td>
            <td>2</td>
            <td>40kr</td>
        </tr>
    </table>

    <div class="button-width">
        <a href="confirmation.html" th:href="@{confirmation}">

            <form action="/addorder" method="post">
                <button type="submit">Place Order</button>
            </form>

        </a>
    </div>

</div>

<div class="container-set-bottom">
    Logget ind som: <span th:text="${session.userEmail}"></span>
</div>


</body>
</html>